$colorDefault: #DECDBE;
$colorDefaultDark: #CDB39C;
$colorDefaultBackground: whitesmoke;

$colorChristmas: #2F9B61;
$colorChristmasDark: #BD0019;
$colorChristmasBackground: #d5dadd;

// Themes
$primary: $colorChristmas;
$primaryDark: $colorChristmasDark;
$backgroundL: colorChristmasBackground;